.masthead {
    width: 95%;
    height: fit-content;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6%;
    margin: 20px auto;
    position: relative; 
    height: 95vh;
}

.black-overlay {
    display: -webkit-flex;
    display: flex;
    background-color: rgba(0,0,0,.4);
    height: 100%;
    align-items: center;
    text-align: center;
    color: white;
}

.content-box {
    max-width: 700px;
    margin: 20% auto;
    

}
.arrow-down {
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(255, 255, 255);
    margin: auto;
    position:absolute;
    bottom:7px;
    right:10px;

    
    
  }
  .scroll-text{
    position:absolute;
    bottom:7px;
    right:50px;
  }