.masthead {
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 20px;
    position: relative; 
}

.black-overlay {
    display: -webkit-flex;
    display: flex;
    background-color: rgba(0,0,0,.4);
    height: 100%;
    align-items: center;
    text-align: center;
    color: white;
}

.content-box {
    max-width: 700px;
    margin: 20% auto;
    height: 100vh;

}
