body {
  width: 100%;
  background-color: transparent;
  font-family: $site-font;
  
}
a {
  color: rgb(126, 126, 126);
  &:hover {
    color: #86b8ec;
    text-decoration: none;
  }
}
h1 {
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-align: center;
}
h3 {
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
}
h5{
  color: darkslategrey;
  margin-bottom: 0;
  
}
.navbar {
  background-color: rgba($color: #444444, $alpha: 1.0);
  line-height: 2;
}
.navbar-nav .nav-link{
  white-space: nowrap;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(252, 221, 155);
  
  &:hover {
    color: rgb(221, 204, 223);
  }
}
.navbar-light .navbar-toggler{
  background-color: rgb(146, 135, 106);
  float: right;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.site-title {
  color: rgb(252, 221, 155);
  
  font-size: 20px;
}
.site-title:hover {
  color: rgb(217, 199, 219);

}

ul {
  list-style: none;
  padding: 0;
}
p {
  letter-spacing: 2px;
  font-size: large;
}
.mapleSyrup{
  display: none;
}
.submit-button {
	box-shadow:inset 0px 1px 3px 0px #3f504e;
	background:linear-gradient(to bottom, #4e615c 5%, #6c7c7c 100%);
	background-color:#343f3c;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.submit-button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.submit-button:active {
	position:relative;
	top:1px;
}