.rounded-circle:hover{
    animation: in-focus 4s linear;
 }
 
 .circle-links{
    
    list-style-type: none;
    text-align: center;   
 }
 .circle-links li {
    min-width: 120px;
    margin: 0 5px;
    height: 250px;
    vertical-align: middle;
    display: inline-block;
     
 }
 .circle-links ul {
    margin: auto;
}
.rounded-circle{
    vertical-align: middle;
    position: absolute;
}
 .rounded-circle:hover{
    animation: in-focus 1s linear;
 }
 @keyframes in-focus {
    0%   { 
      height: 120px;
      width: 120px;
    }
    5% {
      height: 130px;
      width: 130px;
    }
    100% { 
      height: 130px;
      width: 130px;
    }
  }
  