
p{
    text-align: center;
}
.container{
    display: block;
    margin-bottom: 100px;
}
.title{
    margin-top:170px;
    margin-bottom:40px;
}
.link{
    color: rgb(202, 3, 136);
    font-weight: bold;
}
.card-title{
    font-weight: bold;
    color: rgb(39, 39, 117);
}
.card-text{
    padding-top: 10px;
}
.card{
    margin: 10px auto;
    min-width: 220px;
    max-width: 420px;
}
.card-deck{
    
    justify-content: center;              
}

.wrapper-left{
    float: left;
    margin: 0 40px;
    text-align: center;
    max-width: 550px;
    
}
.wrapper-right{
    float: right;
    margin: 30px 40px 0;
    text-align: center;
}


li{
    display: inline-block;
    margin: 20px;
}
@media (max-width: 570px){
    .wrapper-left{
        float:none;
        display: flex;
        margin: 0 0;
  justify-content: center;
  flex-wrap: wrap;
    }
    .wrapper-right{
        float: none;
        display: flex;
        margin: 0 0;
        justify-content: center;
        flex-wrap: wrap;

    }
    img[alt~="dr-john"]{
        min-width: 550px;
    }
}
.members{
    background-color: rgb(80, 80, 80);
    color: white;
    
}
.members-location {
    color: rgb(252, 221, 155);
}
.members-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    grid-gap: 10px;
    
}
.members-bottom{
    margin: 10px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.note-item{
    margin: 10px;
}
.note-item p {
    font-style: italic;
    font-style: 8px;
    font-size: medium;
    margin-top: 10px;
    
}
.note-item h5 {
    color: white;
    text-decoration: underline;
    
}
@media (max-width: 570px){
    .members-top {
        
        grid-template-columns: 1fr;

    }
    .members-bottom{
        margin: 10px;
        grid-gap: 10px;
        display: grid;
        grid-template-columns: 1fr;
        
    }
}