
p{
    text-align: center;
}
.container{
    display: block;
    margin-bottom: 100px;
}
.title{
    margin-top:170px;
    margin-bottom:40px;
}
.link{
    color: rgb(202, 3, 136);
    font-weight: bold;
}
.card-title{
    font-weight: bold;
    color: rgb(39, 39, 117);
}
.card-text{
    padding-top: 10px;
}
.card{
    margin: 10px auto;
    
    min-width: 180px;
    max-width: 280px;
}
.card-deck{
    
    justify-content: center;              
}

.wrapper-left{
    float: left;
    margin: 0 40px;
}
.wrapper-right{
    float:right;
    margin: 0 40px;
    
}

li{
    display: inline-block;
    margin: 20px;
}