
p{
    text-align: center;
}
.container{
    display: block;
    margin-bottom: 100px;
}
.title{
    margin-top:170px;
    margin-bottom:40px;
}
.link{
    color: rgb(202, 3, 136);
    font-weight: bold;
}
.card-title{
    font-weight: bold;
    color: rgb(39, 39, 117);
}
.card-text{
    padding-top: 10px;
}
.card{
    margin: 10px auto;
    min-width: 220px;
    max-width: 420px;
}
.card-deck{
    
    justify-content: center;              
}

.wrapper-left{
    float: left;
    margin: 0 40px;
    text-align: center;
}
.wrapper-right{
    float:right;
    margin: 0 40px;
    text-align: center;
}

li{
    display: inline-block;
    margin: 20px;
}
@media (max-width: 570px){
    .wrapper-left{
        float:none;
        display: flex;
        margin: 0 0;
  justify-content: center;
  flex-wrap: wrap;
    }
    .wrapper-right{
        float: none;
        display: flex;
        margin: 0 0;
        justify-content: center;
        flex-wrap: wrap;

    }
    
}